<div class="row-fluid">
  <div class="span2 offset1">
    <div class="logo">
      <img title=" - Job Search" src="../assets/logo-jobstreet-3.png">
    </div>
  </div>
  <div class="span7 header">

    <form class="form-inline">

    <table>
    <thead>
      <tr>
        <th>Keywords</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input id="keywords" type="text" class="input-large" placeholder="Job, Title, Skills, or Company"></td>
        <td><input id="location" type="text" class="input-large" placeholder="City, State
    "></td>
        <td><a id="search-form" class="btn btn-primary" href="#"><i class="icon-search icon-white"></i>Find Jobs</a></td>
      </tr>
    </tbody>
  </table>
        
    </form>
  </div>

  <div class="span1 sign_in">
    <a href='#' id='change_layout_category'>By category</a>
  </div>

  <div class="span1 sign_in">
    <a href='#' id='sign_in'>Sign in</a>
  </div>

</div>