<div class="row-fluid">
  <div class="span2 offset1">
    <div class="logo">
      <img title=" - Job Search" src="../assets/logo-jobstreet-3.png">
    </div>
  </div>
  <div class="span8 header">
    <h3>Customer Login</h3>
  </div>

  <div class="span1 sign_in">
    <a href='#' id='sign_in_back'>Back</a>
  </div>

</div>