<ul class="results-controls">
  <li class="results-controls-title"> Days Back </li>
  <li>
  <a title="search jobs posted within 3 days" href="#" id="days_back_3">3 Days</a>
  </li>
  <li>
  <a title="search jobs posted within 7 days" href="#" id="days_back_7">7 Days</a>
  </li>
  <li>
  <a title="search jobs posted within 14 days" href="#" id="days_back_14">14 Days</a>
  </li>
  <li>
  <a title="search jobs posted within 30 days" href="#" id="days_back_30">30 Days</a>
  </li>
  <li>
  <a title="search jobs posted within 60 days" href="#" id="days_back_60">60 Days</a>
  </li>
</ul>
